# Env files
.env
.env.local
.env.*.local

# Node dependencies
node_modules/
client/node_modules/
server/node_modules/

# Build output
dist/
client/dist/
server/dist/

# Logs
logs
*.log

# System files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/
